{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}


{{ form_start(form) }}
    {{ form_row(form.word) }}
    {{ form_row(form.description) }}
    {{ form_row(form.language) }}
    {{ form_row(form.myTranslation) }}
    {#<ul class="tags" data-prototype="{{ form_widget(form.word.vars.prototype)|e('html_attr') }}">#}
        {#{% for trans in form.translation %}#}
            {#<li>{{ form_row(trans) }}</li>#}
        {#{% endfor %}#}
    {#</ul>#}





{{ form_end(form) }}


<form action="{{ path('add_word') }}" method="POST" class="word" novalidate enctype="multipart/form-data">



    {#{{ form_start(form) }}#}

    {#{{ form_errors(form) }}#}

    {#{{ form_widget(form) }}#}
    {#{{ form_row(form.word) }}#}
    {#{{ form_row(form.description) }}#}
    {#{{ form_row(form.language) }}#}

    {#<p>#}
        {#<input type="submit" value="Submit">#}
    {#</p>#}
    {#{{ form_end(form) }}#}
</form>
    {% endblock %}