{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin: 30px;" class="">
        {{ render(controller(
        'AppBundle:Index:search'
        )) }}
    </div>
    {% if words is defined %}

        {% for word in words %}
            <article style="text-align: center;" class="word">

                <header>
                    <h3>{{ word.word }}</h3>
                    <h3>
                        {% for tran in word.myTranslation %}
                            {{ tran.word }}
                            {% if tran.confirmed %}
                                <p>confirmed</p> <a href="{{ path('edit', {'id': word.id}) }}">edit</a>
                            {% endif %}
                            {% if not tran.confirmed %}
                                <p><a id="confirm" href="{{ path('confirm', {'word': word.word, 'word_lang': word.language, 'word_trans': tran.word, 'trans_lang': tran.language }) }}">confirm</a></p>
                            {% endif %}
                        {% endfor %}
                    </h3>
                    <h3>{% for tran in word.otherTranslation %}
                            {{ tran.word }}
                            {% if tran.confirmed %}
                                <p>confirmed</p> <a href="{{ path('edit', {'id': word.id}) }}">edit</a>
                            {% endif %}
                            {% if not tran.confirmed %}
                                <p><a id="confirm" href="{{ path('confirm', {'word': word.word, 'word_lang': word.language, 'word_trans': tran.word, 'trans_lang': tran.language }) }}">confirm</a></p>
                            {% endif %}
                        {% endfor %}
                    </h3>
                </header>
            </article>
        {% else %}
            <p>There are no words entries yet</p>
        {% endfor %}

    {% endif %}

{% endblock %}